<div class="jumbotron text-center">
  <h1>Study Spots</h1>
  <p>Browse study spots around UC Davis</p>
</div>

<div class="list-group">
  <% Spot.all.each do |spt| %>
    <div class="list-group-item gr">
      <h4 class="list-group-item-heading"><%= spt.name %><span class="badge"><%= spt.checkin_count %></span></h4>
      <p class="list-group-item-text"><%= spt.description %></p>
      <div class="btn-group learn_more"><%= link_to "Learn more", spot_path(:id => spt.id), class: "btn btn-default" %></div>
    </div>
  <% end %>
  
</div>



<%= link_to 'Admin? - New Spot', new_spot_path %>
