<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @spot.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @spot.stype %>
</p>

<p>
  <strong>Sound level:</strong>
  <%= @spot.sound_level %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @spot.rating %>
</p>

<p>
  <strong>Rating count:</strong>
  <%= @spot.rating_count %>
</p>

<p>
  <strong>Checkin count:</strong>
  <%= @spot.checkin_count %>
</p>

<hr/>
<h3>Recent Statuses:</h3>
<h3><%= @spot.statuses.count %> statuses!</h3>
<% @spot.statuses.each do |stat| %>
  <h4>Status by: <%= stat.user.uname %></h4>
  <p><%= stat.description %></p>
<% end %>

<h3> Join <%= @spot.checkins.count %> spotters and <strong>Checkin at this Spot!</strong> </h3>
<%= link_to 'Checkin!', new_checkin_path(spot_id: @spot.id.to_i) %>
<h3> Add a Status! </h3>
<%= render 'shared/status_update' %>
<%= link_to 'Update Status', new_status_path(user_id: cookies[:u_id], spot_id: @spot.id.to_i) %>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
