<% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
<div class="container">
   <div class="page-header">
      <div class="row header_row">
         <div class="col-sm-4">
            <div class="text-left head-left"><img src="/assets/study_space_logo.png" style="width:102px; height:82px;"></div>
         </div>
         <div class="col-sm-4">
            <div class="text-center head-center">
               <h1 class="text-center"><%= @spot.name %></h1>
            </div>
         </div>
      </div>
   </div>
   <div class="custom_center">
      <span>
      <%= link_to '<i class="glyphicon glyphicon-map-marker map-marker" aria-hidden="true"></i>'.html_safe, new_checkin_path(spot_id: @spot.id.to_i)%>                
      </span><%= @spot.location %>
   </div>
   <div class="text-center special-font">
      <div class="row row-padding">
         <div class="col-sm-4">
            <div class="text-right">
            <% @spot.rating.ceil.to_i.times do %>
               <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
            <% end %>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="text-center">
              <% if @spot.current_sound_level.ceil.to_i == 1 %>
               <span class="glyphicon glyphicon-volume-off vol-off" aria-hidden="true"></span>
              <% elsif @spot.current_sound_level.ceil.to_i == 2 %>
               <span class="glyphicon glyphicon-volume-down vol-down" aria-hidden="true"></span>
              <% else %>
                <span class="glyphicon glyphicon-volume-up vol-up" aria-hidden="true"></span>                 
               <% end %>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="text-left"><%= @w_type %></div>
         </div>
      </div>
   </div>
   <img class="center-block" src="http://universityofcalifornia.edu/sites/default/files/mrak-hall-uc-davis.jpeg">
   <div class="description">
      <p><%= @spot.description %></p>
   </div>
   <hr />
   <div class="row">
      <% @top_statuses.each do |stat| %>
        <div class="col-sm-4">
           <p class="text-box2"><%= stat.description %></p>
           <small></small>
        </div>
      <% end %>

      <% if @missing_count > 0 %>
        <% @missing_count.to_i.times do %>
          <div class="col-sm-3">
           <p class="text-box2">Holy cow! No Status???? </p>
           <small>Well it could be you...</small>
        </div>
        <% end %>
      <% end %>
      
   </div>
   <div class="row row2-padding">
      <div class="col-sm-4">
         <div class="text-right">
            <label for="rating">Rating:</label>
            <% 5.times do |z| %>
              <%= link_to '<i class="glyphicon glyphicon-star-empty star2"></i>'.html_safe, new_rating_path(spot_id: @spot.id.to_i, value: (5 - z)) %>                
            <% end %>
         </div>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
         <div class="text-left">
            <label for="sound_level">Sound Level:</label>
            <%= link_to '<i class="glyphicon glyphicon-volume-off vol"></i>'.html_safe, new_sound_level_path(spot_id: @spot.id.to_i, value: 1)%>                
            <%= link_to '<i class="glyphicon glyphicon-volume-down vol"></i>'.html_safe, new_sound_level_path(spot_id: @spot.id.to_i, value: 2)%>                
            <%= link_to '<i class="glyphicon glyphicon-volume-up vol"></i>'.html_safe, new_sound_level_path(spot_id: @spot.id.to_i, value: 3)%>                
         </div>
      </div>
   </div>
   <%= render 'shared/status_update' %>
</div>

<%= link_to 'Back', spots_path %>
