<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.uname %></h2>

<p>This will look better i promise</p>

<h4>Your contributions:</h4>
<h5>Checkin Count: <%= @user.checkins.count %></h5>
<h5>Status Updates: <%= @user.statuses.count %></h5>
<ul>
<% @user.statuses.reverse_each do |stat| %>
	<li><p><%= stat.description %></p><small><%= stat.created_at.to_date %></small></li>	
<% end %>
</ul>
