<div class="container">
	<div class="page-header">
		<div class="text-center logo"><a href="study-space.herokuapp.com"><img style="width: 342px; height: 94px;" src="/assets/study_space_title_logo.png" alt="" /></a></div>
		<br/><br/>
		<div class="text-center welcome">
			<p id="welcome">Hello, <%= User.find(cookies[:u_id]).uname%>!</p>
		</div>
	</div>
	<div class="text-center into btn-group"><%= link_to "See all study spots near you!", spots_path(), class: "btn btn-default"%></div>
</div>
<p>&nbsp;</p>
<div class="well well-sm">
	<div class="row header">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3">
			<div class="text-center">
				<div class="visited">
					<h3>Your Visited Spaces</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3 text-center other">
			<h3>Other Popular Spaces</h3>
		</div>
	</div>
</div>

<div class="row spaces_panel">
	<div class="col-md-3", id="left-col">
		<div class="text-center">
			<% @local.each do |check| %>
			<div class="panel panel-default">
				<div class="panel-heading panel1">
					<h3 class="panel-title"><%= Spot.find(check.spot_id.to_i).name %></h3>
				</div>
				<div class="panel-body body1"><%= Spot.find(check.spot_id.to_i).description %></div>
				<div class="btn-group learn_more"><%= link_to "Learn more", spot_path(:id => check.spot_id), class: "btn btn-default" %></div>
			</div>
			<% end %>

			
		</div>
	</div>

	<div class="col-md-3", id="right-col">
		<div class="text-center">
			<% @global.each do |check| %>
			<div class="panel panel-default">
				<div class="panel-heading panel1">
					<h3 class="panel-title"><%= Spot.find(check.spot_id.to_i).name %></h3>
				</div>
				<div class="panel-body body1"><%= Spot.find(check.spot_id.to_i).description %></div>
				<div class="btn-group learn_more"><%= link_to "Learn more", spot_path(:id => check.spot_id), class: "btn btn-default" %></div>
			</div>
			<% end %>

		</div>
	</div>

</div>

