<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field(:status, :user_id, :value => User.find(cookies[:u_id]).id.to_i) %>
  <%= hidden_field(:status, :spot_id, :value => @spot.id.to_i) %>

  <div class="form-group comment">
    <div>
      <%= f.label "Update this space's status!" %><br>
      <%= f.text_area :description, class: "form-control", rows: "5", id: "comment" %>
    </div>
    <div>
      <%= f.submit "Update Status", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
